{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clear-both',
  'item'
] %}
<div{{ attributes.addClass(classes) }}>

  <table>
    <tr>
      <th>State</th>
      <th>Count</th>
    </tr>

    {% for key1, state in content %}
      <tr>
        <td> {{ content[key1]['label']|replace({'_':' '})|capitalize }}</td>
        <td> {{ content[key1]['count'] }}</td>
      </tr>

    {% endfor %}
  </table>
</div>

<style>
  .path-frontpage .region-content {
    -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.72);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.72);
    margin: 10px;
    padding: 10px;
  }

  .path-frontpage .region-content .block-status-block {
    max-width: 250px;
  }
  .path-frontpage .region-content .block-status-block .item {
    -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.72);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.72);
  }
</style>
