{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  <p>{{ content['moderation_state']|replace({'_':' '})|capitalize }}: <b>{{ content['total'] }}</b></p>
</div>

<style>
  .path-frontpage .region-content {
    -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.72);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.72);
    margin: 10px;
    padding: 10px;
  }
</style>
